#!/usr/bin/make -f

%:
	dh $@

override_dh_pysupport:
	dh_pysupport
	
	# Don't embed jQuery
	ln -sf /usr/share/javascript/jquery/jquery.js \
		debian/python-django-debug-toolbar/usr/share/pyshared/debug_toolbar/media/debug_toolbar/jquery.js
